#voucher_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    text-align: center;
    
}
h1{
    background-color: thistle;
    
}
#voucher_list img{
    height: 350px;
    width: 60%;

}